*{
    margin: 0;
    padding: 0;
}
#main-container{
    display: flex;
    flex-wrap: wrap;
}
.common{
    margin: 40px 0 0 80px;
    width: 200px;
    height: 200px;
}
img{
    text-decoration: none;
    border: 0;
}
#text{
    margin-left: 45vw;
    margin-bottom: 2vw;
}